:root {
  --nextui-breakpoints-lg: 1600px !important;
  /* --nextui--navbarPadding: 0px !important; */
}

body {
  font-family: Helvetica Neue, Segoe UI, Roboto, Ubuntu, sans-serif;
  -webkit-font-smoothing: auto;
  -moz-font-smoothing: auto;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  font-smooth: always;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
}

/* Swiper */
:root {
  --swiper-navigation-size: 25px;
}

.swiper {
  overflow: hidden !important;
}

.swiper-container {
  padding: 20px 0;
}

.swiper-slide {
  display: flex;
  width: fit-content;
  align-items: center;
  justify-content: center;
  transition: 0.1s ease 0s;
}

/* .swiper-slide:hover {
  transform: scale(1.05);
  z-index: 1;
  margin-left: 40px !important;
  margin-right: 60px !important;
} */

.swiper-pagination {
  position: relative;
  bottom: 0 !important;
}

.swiper-container:hover {
  overflow: visible !important;
}

.swiper-button-next,
.swiper-button-prev {
  color: whitesmoke !important;
  font-weight: 600;
  z-index: 1;
}